/* resets */
html, body {
  height: 100%;
  font-size: 20px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #faf8f8;
}

body * {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/* typography */
h1, h2, h3, h4, h5, h6,
.font--heading {
  font-family: "Comic Sans MS", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.font--small {
  font-size: 0.75rem;
}

/* layout */
.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;
  justify-content: flex-start;
}

/* page */
.page {
  flex: 1 1 auto;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.page--visible {
  opacity: 1;
}

/* rows & columns */
.row {
  display: flex;
}

.row.spacing-1 > *:not(:last-child) {
  margin-right: 1rem;
}

.row.center-x {
  align-items: center;
}

.row.space-between {
  justify-content: space-between;
}

.container {
  margin: 0 auto;
  max-width: 640px;
  width: 100%;
}

/* padding */
.pad-1 {
  padding: 1rem;
}

.pt-1 { padding-top: 1rem; }
.pt-2 { padding-top: 2rem; }
.pt-3 { padding-top: 3rem; }
.pt-4 { padding-top: 4rem; }

.pb-1 { padding-bottom: 1rem; }
.pb-2 { padding-bottom: 2rem; }
.pb-3 { padding-bottom: 3rem; }
.pb-4 { padding-bottom: 4rem; }

/* effects */
a {
  position: relative;
  font-weight: bold;
}

a::before,
a::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: -0.125em;
  right: -0.125em;
  bottom: 0;
  height: 0.4em;
  background-color: coral;
  opacity: 0.4;
  transition: transform 300ms ease-in;
  transform-origin: center left;
}
a::after {
  transform: scaleX(0);
  opacity: 1;
}
a:hover::before,
a:hover::after {
  transform: scaleY(0.5) translateY(0.5em);
}

a.link--external::before,
a.link--external::after {
  /* background-color: aqua; */
  background-color: rgb(0, 180, 255);
}