/* resets */
html, body {
  height: 100%;
  font-size: 20px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body * {
  box-sizing: border-box;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  font-family: "Comic Sans MS", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* layout */
.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;
  justify-content: flex-start;
}

.page {
  flex: 1 1 auto;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.page--visible {
  opacity: 1;
}

.row {
  display: flex;
}

.row.spacing-1 > *:not(:last-child) {
  margin-right: 1rem;
}

.justify-between {
  justify-content: space-between;
}

.container {
  margin: 0 auto;
  max-width: 640px;
  width: 100%;
}

/* padding */
.pad-1 {
  padding: 1rem;
}