<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <!-- Meta Tags -->
  <title>{{meta.title}}</title>
  <meta name="description" content="{{meta.description}}">
  <!-- OG Tags -->
  <meta property="og:title" content="{{meta.title}}">
  <meta property="og:description" content="{{meta.description}}">
  <meta property="og:image" content="{{meta.image}}">
  <meta property="og:url" content="{{config.baseUrl}}{{path}}">
  <!-- Twitter Tags -->
  <meta name="twitter:title" content="{{meta.title}}">
  <meta name="twitter:description" content="{{meta.description}}">
  <meta name="twitter:image" content=" {{meta.image}}">
  <meta name="twitter:card" content="summary_large_image">
</head>
<body>
  {{content}}
  <script defer async src="/elm.client.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
  <script defer async src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/languages/elm.min.js"></script>
  <script>
    window.addEventListener('load', () => {
      const app = Elm.Main.Client.init()
      window.hljs.initHighlighting()
      // Ports
      app.ports.afterNavigate.subscribe(_ =>
        setTimeout(_ => {
          hljs.initHighlighting.called = false
          window.hljs.initHighlighting()
          window.scrollTo({ top: 0, left: 0, behavior: 'smooth' })
        }, 100)
      )
    })
  </script>
</body>
</html>
